#!/bin/bash

export CCNET_CONF_DIR=/data/data/ccnet
export SEAFILE_CONF_DIR=/data/data/seafile-data
export SEAFDAV_CONF=./seafdav.conf

TOP_DIR=$(python -c "import os; print os.path.dirname(os.path.realpath('$0'))")

cd "$TOP_DIR"

python -m wsgidav.server.run_server runfcgi --log-file seafdav.log --host=127.0.0.1 --port 8080
